{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card" style="margin: 2rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-md">
                <span class="lead" style="font-size: 3rem;">
                    About us
                </span>
                <ul><i>
                        <li> An understanding and appreciation of Indias’ rich culture</li>
                        <li> Asense of integrity, ethics and honesty</li>
                        <li>A strong secular ethos</li>
                        <li>Leadership with a sense of teamwork and fair play</li>
                        <li>An awareness of the environment</li>
                        <li> A concern for the less fortunate</li>
                        <li>A concern for human rights and democratic values</li>
                        <li>A questioning mind and a spirit of adventure</li>
                    </i></ul>
            </div>
            <div class="col-md">
                <img src="{% static 'images/teachers.jpg' %}" class="img-fluid">
            </div>
        </div>
    </div>
</div>

{% endblock %}